<!DOCTYPE HTML>
<html>
    <head lang="en">
        <title>Spring with Javascript</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <script src="webjars/jquery/2.2.3/dist/jquery.min.js" type="text/javascript"></script>
        <link href="mylibrary.css" rel="stylesheet" type="text/css" />
        <script src="mylibrary.js" type="text/javascript"></script>
        <script>
            $(document).ready(function() {
                var data = [[12, 40, 75, 23, 42, 80],
                            [3, 22, 40, 27, 35, 21],
                            [60, 80, 16, 28, 33, 26],
                            [46, 7, 14, 26, 36, 24]];

                var options = {
                    //type: 'line',
                    type: 'bar',
                    //type: 'pie',
                    categories: ["May 2012", "Jun 2012", "Jul 2012",
                                 "Aug 2012", "Sep 2012", "Oct 2012"],
                    series: ["USA","Canada","Australia", "Brazil"],
                    colors: ['#be1e2d', '#666699', '#92d5ea', '#ee8310'],
                    margins: {top: 30, right: 10, bottom: 10, left: 30},
                    bar: {}
                };

                myLibrary("#myCanvas", data, options);
            });
        </script>
    </head>
    <body>
        <canvas id="myCanvas" width="500" height="400"></canvas>
    </body>
</html>